body {
    font-family: 'Arial', sans-serif;
    background-color: #eff6e2;
    background-image:url('./book1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10;
    border-color: black;
    padding: 0;
    padding-right: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    max-width: 400px;
    margin: 20;
    border:20px;
    border:2px solid rgb(197, 126, 32);
    padding: 10px;
    
    border-radius: 40px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    background-color:#e1b95b ;
    margin-left:20px;
    margin-right:25px;
    margin-top:10px ;
    margin-bottom: 10px; 
}

label {
    display:inline-block;
    font-family: cursive;
    margin-top:20px ;
    margin-bottom: 20px; 
    margin-left:20px;
    margin-right:25px;
}

input {
    width: 90%;
    padding: 8px;
     margin-bottom: 16px; 
}

button {
    background-color: #071107;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c23404;
}  

h2{
    text-align: center;
}
p{
    text-align: right;
    font-family: cursive;
    font-size: medium;
}